@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #752664;
    --collor-error: #FF0000;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

header{
    background-color: var(--color-primary);
    height: 70px;
    display: flex;
    align-items: center;

}

.dsmovie-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
}

.dsmovie-nav-content h1{
    margin: 0;
    font-weight: 700;
    font-size: 30px;
}

.dsmovie-contact-container{
    display: flex;
    align-items: center;
}

.dsmovie-contact-link{
    margin: 0 0 0 10px;
    font-size: 12px;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}